<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.app.comment.mapper.CommentMapper" >

    <resultMap id="BaseResultMap" type="com.app.comment.entity.Comment" >
        <!-- id -->
        <result column="ID" property="id" jdbcType="VARCHAR" />
        <!-- 创建时间 -->
        <result column="created_dt" property="createdDt" jdbcType="TIMESTAMP" />
        <!-- 创建人 -->
        <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
        <!-- 帖子id -->
        <result column="POST_ID" property="postId" jdbcType="VARCHAR" />
        <!-- 评价内容 -->
        <result column="EVALUATE_CONTENT" property="evaluateContent" jdbcType="VARCHAR" />
        <!-- 评价时间 -->
        <result column="EVALUATE_DT" property="evaluateDt" jdbcType="TIMESTAMP" />
        <!-- 人员id -->
        <result column="user_id" property="userId" jdbcType="VARCHAR" />
        <result column="NAME" property="name" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        ID,
        created_dt,
        created_by, 
        POST_ID,
        EVALUATE_CONTENT,
        EVALUATE_DT,
        user_id,
        NAME
    </sql>

    <select id="find" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List" />
        from VIEW_COMMENT
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="id != null" >
                AND ID = #{id,jdbcType=VARCHAR}
            </if>
            <if test="createdDt != null" >
                AND created_dt = #{createdDt,jdbcType=TIMESTAMP}
            </if>
            <if test="createdBy != null" >
                AND created_by = #{createdBy,jdbcType=VARCHAR}
            </if>
            <if test="postId != null" >
                AND POST_ID = #{postId,jdbcType=VARCHAR}
            </if>
            <if test="evaluateContent != null" >
                AND EVALUATE_CONTENT = #{evaluateContent,jdbcType=VARCHAR}
            </if>
            <if test="evaluateDt != null" >
                AND EVALUATE_DT = #{evaluateDt,jdbcType=TIMESTAMP}
            </if>
            <if test="userId != null" >
                AND user_id = #{userId,jdbcType=VARCHAR}
            </if>
        </trim>
        ORDER BY
        <if test="order != null">
        ${order}
        </if>
        <if test="order == null">
            ID DESC
        </if>
    </select>

    <delete id="delete" parameterType="com.app.comment.entity.Comment" >
        delete from TABLE_COMMENT where ID = #{id,jdbcType=DECIMAL}
    </delete>

    <insert id="insert" parameterType="com.app.comment.entity.Comment" >
        insert into TABLE_COMMENT (
           created_dt,
           created_by,
           POST_ID,
           EVALUATE_CONTENT,
           EVALUATE_DT,
           user_id
        )
        values (
            #{createdDt,jdbcType=TIMESTAMP},
            #{createdBy,jdbcType=VARCHAR},
            #{postId,jdbcType=VARCHAR},
            #{evaluateContent,jdbcType=VARCHAR},
            #{evaluateDt,jdbcType=TIMESTAMP},
            #{userId,jdbcType=VARCHAR}
        )
    </insert>

    <update id="update" parameterType="com.app.comment.entity.Comment" >
        update TABLE_COMMENT set
        <trim suffixOverrides=",">
            <if test="createdDt != null" >
                created_dt = #{createdDt,jdbcType=TIMESTAMP},
            </if>
            <if test="createdBy != null" >
                created_by = #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="postId != null" >
                POST_ID = #{postId,jdbcType=VARCHAR},
            </if>
            <if test="evaluateContent != null" >
                EVALUATE_CONTENT = #{evaluateContent,jdbcType=VARCHAR},
            </if>
            <if test="evaluateDt != null" >
                EVALUATE_DT = #{evaluateDt,jdbcType=TIMESTAMP},
            </if>
            <if test="userId != null" >
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
        </trim>
        where ID = #{id,jdbcType=DECIMAL}
    </update>
</mapper>
