<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.app.post.mapper.PostMapper" >

    <resultMap id="BaseResultMap" type="com.app.post.entity.Post" >
        <!-- id -->
        <result column="id" property="id" jdbcType="VARCHAR" />
        <!-- 创建时间 -->
        <result column="CREATED_DT" property="createdDt" jdbcType="TIMESTAMP" />
        <!-- 创建人 -->
        <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
        <!-- 帖子id -->
        <result column="POST_CODE" property="postCode" jdbcType="VARCHAR" />
        <!-- 帖子标题 -->
        <result column="POST_TITLE" property="postTitle" jdbcType="VARCHAR" />
        <!-- 帖子主体内容 -->
        <result column="POST_CONTENT" property="postContent" jdbcType="VARCHAR" />
        <!-- 帖子附件 -->
        <result column="POST_FILE" property="postFile" jdbcType="VARCHAR" />
        <!-- 浏览次数 -->
        <result column="browse_COUNT" property="browseCount" jdbcType="DECIMAL" />
        <!-- 是否精品 -->
        <result column="Boutique" property="boutique" jdbcType="VARCHAR" />
        <result column="NAME" property="name" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id,
        CREATED_DT,
        CREATED_BY,
        POST_CODE,
        POST_TITLE,
        POST_CONTENT,
        POST_FILE,
        browse_COUNT,
        Boutique,
        NAME
    </sql>

    <select id="find" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List" />
        from VIEW_POST
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="postSearch != null" >
                AND (
                POST_TITLE like concat('%',#{postSearch,jdbcType=VARCHAR} ,'%')
                OR NAME like concat('%',#{postSearch,jdbcType=VARCHAR} ,'%')
                )
            </if>
            <if test="id != null" >
                AND id = #{id,jdbcType=VARCHAR} 
            </if>
            <if test="createdDt != null" >
                AND CREATED_DT = #{createdDt,jdbcType=TIMESTAMP}
            </if>
            <if test="createdBy != null" >
                AND CREATED_BY = #{createdBy,jdbcType=VARCHAR}
            </if>
            <if test="postCode != null" >
                AND POST_CODE = #{postCode,jdbcType=VARCHAR}
            </if>
            <if test="postTitle != null" >
                AND POST_TITLE = #{postTitle,jdbcType=VARCHAR}
            </if>
            <if test="postContent != null" >
                AND POST_CONTENT = #{postContent,jdbcType=VARCHAR}
            </if>
            <if test="postFile != null" >
                AND POST_FILE = #{postFile,jdbcType=VARCHAR}
            </if>
            <if test="browseCount != null" >
                AND browse_COUNT = #{browseCount,jdbcType=DECIMAL}
            </if>
            <if test="boutique != null" >
                AND Boutique = #{boutique,jdbcType=VARCHAR}
            </if>
        </trim>
        ORDER BY
        <if test="order != null">
        ${order}
        </if>
        <if test="order == null">
            ID DESC
        </if>
    </select>
    
    <select id="findCounts" parameterType="java.util.Map" resultType="java.lang.Integer">
        select
        count(0)
        from TABLE_POST
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="id != null" >
                AND id = #{id,jdbcType=VARCHAR}
            </if>
            <if test="createdDt != null" >
                AND CREATED_DT = #{createdDt,jdbcType=TIMESTAMP}
            </if>
            <if test="createdBy != null" >
                AND CREATED_BY = #{createdBy,jdbcType=VARCHAR}
            </if>
            <if test="postCode != null" >
                AND POST_CODE = #{postCode,jdbcType=VARCHAR}
            </if>
            <if test="postTitle != null" >
                AND POST_TITLE = #{postTitle,jdbcType=VARCHAR}
            </if>
            <if test="postContent != null" >
                AND POST_CONTENT = #{postContent,jdbcType=VARCHAR}
            </if>
            <if test="postFile != null" >
                AND POST_FILE = #{postFile,jdbcType=VARCHAR}
            </if>
            <if test="browseCount != null" >
                AND browse_COUNT = #{browseCount,jdbcType=DECIMAL}
            </if>
            <if test="boutique != null" >
                AND Boutique = #{boutique,jdbcType=VARCHAR}
            </if>
        </trim>
    </select>

    <delete id="delete" parameterType="com.app.post.entity.Post" >
        delete from TABLE_POST where ID = #{id,jdbcType=DECIMAL}
    </delete>

    <insert id="insert" parameterType="com.app.post.entity.Post" >
        insert into TABLE_POST (
           id,
           CREATED_DT,
           CREATED_BY,
           POST_CODE,
           POST_TITLE,
           POST_CONTENT,
           POST_FILE,
           browse_COUNT,
           Boutique
        )
        values (
            #{id,jdbcType=VARCHAR},
            #{createdDt,jdbcType=TIMESTAMP},
            #{createdBy,jdbcType=VARCHAR},
            #{postCode,jdbcType=VARCHAR},
            #{postTitle,jdbcType=VARCHAR},
            #{postContent,jdbcType=VARCHAR},
            #{postFile,jdbcType=VARCHAR},
            #{browseCount,jdbcType=DECIMAL},
            #{boutique,jdbcType=VARCHAR}
        )
    </insert>

    <update id="update" parameterType="com.app.post.entity.Post" >
        update TABLE_POST set 
        <trim suffixOverrides=",">
            <if test="id != null" >
                id = #{id,jdbcType=VARCHAR},
            </if>
            <if test="createdDt != null" >
                CREATED_DT = #{createdDt,jdbcType=TIMESTAMP},
            </if>
            <if test="createdBy != null" >
                CREATED_BY = #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="postCode != null" >
                POST_CODE = #{postCode,jdbcType=VARCHAR},
            </if>
            <if test="postTitle != null" >
                POST_TITLE = #{postTitle,jdbcType=VARCHAR},
            </if>
            <if test="postContent != null" >
                POST_CONTENT = #{postContent,jdbcType=VARCHAR},
            </if>
            <if test="postFile != null" >
                POST_FILE = #{postFile,jdbcType=VARCHAR},
            </if>
            <if test="browseCount != null" >
                browse_COUNT = #{browseCount,jdbcType=DECIMAL},
            </if>
            <if test="boutique != null" >
                Boutique = #{boutique,jdbcType=VARCHAR},
            </if>
        </trim>
        where ID = #{id,jdbcType=DECIMAL}
    </update>
</mapper>
